.products__item {
  display: flex;
  flex-direction: column;

  & .item__title {
    order: 2;
  }

  & .item__image {
    order: 0;
    position: relative;

    margin-bottom: 16px;

    & .image__button {
      width: 100%;
      position: absolute;
      top: 90%;
      left: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      transform: translate(-50%, 0%);
    }
  }

  & .item__type {
    order: 1;
    color: var(--rose-500);
  }

  & .item__price {
    order: 3;
    color: var(--red);
    font-size: var(--spacing-200, 16px);
    font-weight: 600;
    line-height: normal;
  }
}
